<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <main>
      <section class="create-content">
        <h1>Update your text</h1>
      </section>

      <div class="form-container">
        <form action="/updateComment" method="post">
          <label for="body">content</label>
          <input type="hidden" name="postId" value="<%=postId%>" />
          <input type="hidden" name="commentId" value="<%=commentId%>" />
          <%post.find(element=> { %> <% if (element._id == commentId) {%>
          <textarea name="body" id="" cols="30" rows="10">
<%= element.comment %></textarea
          >
          <%} else { %> <%}%> <%})%>
          <button type="submit">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
