<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <main class="post-page">
      <h1>home</h1>

      <div class="posts-container">
        <% if(post.length > 0) { %> <%post.forEach(newpost => { %>
        <article single-post>
          <div class="name-date">
            <p>Created by <%= newpost.username %></p>
            <p><%= newpost.date %></p>
          </div>
          <div class="post">
            <h1><%= newpost.title %></h1>
            <p><%= newpost.content.substring(0,20) + " ..." %></p>
            <a href="/home/<%= newpost._id %>">Open post</a>
          </div>
        </article>
        <% }) %> <% } else { %>
        <p>There is no posts</p>
        <% } %>
      </div>
    </main>
  </body>
</html>
