<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <main class="details-main">
      <div class="details">
        <div class="name-date">
          <div class="creater-info">
            <p>Created by <%= post.username %></p>
            <p><%= post.date %></p>
          </div>
          <% if (createrId === userId) { %>

          <div class="update-delete">
            <a class="delete-post" data-doc="<%= post._id %>"
              ><i class="fa-solid fa-trash"></i
            ></a>

            <a
              class="update"
              id="update"
              href="/update/<%=post._id%>"
              name="update"
              value="<%=post._id%>"
              ><i class="fa-solid fa-pen-nib"></i
            ></a>
          </div>

          <% } %>
        </div>

        <div class="post">
          <h1><%= post.title %></h1>
          <p><%= post.content %></p>
        </div>
      </div>
    </main>
  </body>

  <script>
    const transcan = document.querySelector("a.delete-post");

    transcan.addEventListener("click", (e) => {
      console.log("clicked");
      const endpoint = `/home/${transcan.dataset.doc}`;

      fetch(endpoint, {
        method: "DELETE",
      })
        .then((response) => response.json())
        .then((data) => (window.location.href = data.redirect))
        .catch((err) => console.log(err));
    });
  </script>
</html>
