<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <main class="details-main">
      <div class="details">
        <div class="name-date">
          <div class="creater-info">
            <p>Created by <%= post.username %></p>
            <p><%= post.date %></p>
          </div>
          <% if (createrId === userId || user === "Admin") { %>

          <div class="update-delete">
            <a class="delete-post" data-doc="<%= post._id %>"><i class="fa-solid fa-trash"></i></a>

            <a class="update" id="update" href="/update/<%=post._id%>" name="update" value="<%=post._id%>"><i class="fa-solid fa-pen-nib"></i></a>
          </div>

          <% } %>
        </div>

        <div class="post">
          <h1><%= post.title %></h1>
          <p><%= post.content %></p>
        </div>
      </div>

      <div class="comments-container">
        <div class="comment-h1">
          <h1>Comments</h1>
        </div>
        <% post.comments.forEach(comment => {%>

        <div class="comments">
          <div class="user-comment-info">
            <p>comment from <%= comment.user %></p>
            <p><%= comment.commentDate %></p>
            <% if (comment.user === user || user === "Admin") { %>
            <div class="delete-comment">
              <form action="/delComment" method="post">
                <input type="hidden" name="deleteComment" value="<%= comment._id %>" />
                <input type="hidden" name="postId" value="<%= post._id %>" />

                <button class="del-btn" type="submit">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </form>

              <form action="/updComment/<%=comment._id%>" method="post">
                <input type="hidden" name="postId" value="<%= post._id %>" />
                <input type="hidden" name="updateCommentId" value="<%=comment._id%>" />

                <button class="del-btn" type="submit">
                  <i class="fa-solid fa-pen-nib"></i>
                </button>
              </form>
            </div>

            <% } %>
          </div>

          <div class="commentt">
            <p><%=comment.comment%></p>
          </div>
        </div>
        <%})%>
      </div>

      <div class="comment-container">
        <form action="/comment/<%= post._id %>" method="post">
          <label for="comment">comment this post</label>
          <textarea name="comment" id="comment" cols="30" rows="10"></textarea>

          <button type="submit">submit</button>
        </form>
      </div>
    </main>
  </body>

  <script>
    const transcan = document.querySelector("a.delete-post");

    transcan.addEventListener("click", (e) => {
      console.log("clicked");
      const endpoint = `/home/${transcan.dataset.doc}`;

      fetch(endpoint, {
        method: "DELETE",
      })
        .then((response) => response.json())
        .then((data) => (window.location.href = data.redirect))
        .catch((err) => console.log(err));
    });
  </script>
</html>
